<%- include('../include/header') %>

    <!-- mobile fix menu end -->

    <!-- Breadcrumb Section Start -->
    <section class="breadcrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-contain">
                        <h2>Order Summary</h2>
                        <!-- <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="index.html">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active">Order Summary</li>
                            </ol>
                        </nav> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout section Start -->
    <section class="cart-section section-b-space">
        <div class="container-fluid-lg">
            <div class="row g-sm-5 g-3">
                <div class="col-xxl-9">
                    <div class="cart-table">

                        <ul>
                            <li>
                                <div class="checkout-icon">
                                    <lord-icon target=".nav-item" src="https://cdn.lordicon.com/ggihhudh.json"
                                        trigger="loop-on-hover"
                                        colors="primary:#121331,secondary:#646e78,tertiary:#0baf9a" class="lord-icon">
                                    </lord-icon>
                                </div>
                                <div class="checkout-box">
                                    <div class="checkout-title">
                                        <h4>Delivery Address</h4>
                                    </div>

                                    <div class="checkout-detail">
                                        <div class="row g-4">
                                            <div class="col-xxl-12 col-lg-12 col-md-12">
                                                <div class="delivery-address-box">
                                                    <div>


                                                        <div class="label">
                                                            <label>Home</label>
                                                        </div>

                                                        <ul class="delivery-address-detail">
                                                            <li>
                                                                <h4 class="fw-500">Jack Jennas</h4>
                                                            </li>

                                                            <li>
                                                                <p class="text-content"><span class="text-title">Address
                                                                        : </span>8424 James Lane South San
                                                                    Francisco, CA 94080</p>
                                                            </li>


                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <div class="table-responsive-xl">
                            <table class="table">
                                <tbody>
                                    <tr class="product-box-contain">
                                        <td class="product-detail">
                                            <div class="product border-0">
                                                <a href="category-details" class="product-image">
                                                    <img src="<%= baseUrl %>/assets/images/vegetable/product/1.png"
                                                        class="img-fluid blur-up lazyload" alt="">
                                                </a>
                                                <div class="product-detail">
                                                    <ul>
                                                        <li class="name">
                                                            <a href="category-details">SPRITE 250ML 1X24 NP</a>
                                                        </li>

                                                        <li class="text-content">
                                                            <span class="text-title">NRB
                                                            </span> (5449000056924)
                                                        </li>

                                                        <li class="text-content">
                                                            <span class="text-title">QTY </span> 4 CS
                                                        </li>

                                                        <li>
                                                            <h5 class="text-content ">Unit Price:</h5>
                                                            <span class="text-title"> AED 21.00</span>
                                                        </li>





                                                    </ul>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="subtotal">
                                            <h4 class="table-title text-content">AED 105.00</h4>

                                        </td>

                                        <td class="price">
                                            <h6 class="table-title text-content">Payment Method</h6>
                                            <p class="theme-color">Online Payment</p>
                                        </td>




                                    </tr>

                                    <tr class="product-box-contain">
                                        <td class="product-detail">
                                            <div class="product border-0">
                                                <a href="category-details" class="product-image">
                                                    <img src="<%= baseUrl %>/assets/images/vegetable/product/1.png"
                                                        class="img-fluid blur-up lazyload" alt="">
                                                </a>
                                                <div class="product-detail">
                                                    <ul>
                                                        <li class="name">
                                                            <a href="category-details">SPRITE 250ML 1X24 NP</a>
                                                        </li>

                                                        <li class="text-content">
                                                            <span class="text-title">NRB
                                                            </span> (5449000056924)
                                                        </li>

                                                        <li class="text-content">
                                                            <span class="text-title">QTY </span> 4 CS
                                                        </li>

                                                        <li>
                                                            <h5 class="text-content ">Unit Price:</h5>
                                                            <span class="text-title"> AED 21.00</span>
                                                        </li>





                                                    </ul>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="subtotal">
                                            <h4 class="table-title text-content">AED 105.00</h4>

                                        </td>

                                        <td class="price">
                                            <h6 class="table-title text-content">Payment Method</h6>
                                            <p class="theme-color">Online Payment</p>
                                        </td>




                                    </tr>

                                    <tr class="product-box-contain">
                                        <td class="product-detail">
                                            <div class="product border-0">
                                                <a href="category-details" class="product-image">
                                                    <img src="<%= baseUrl %>/assets/images/vegetable/product/1.png"
                                                        class="img-fluid blur-up lazyload" alt="">
                                                </a>
                                                <div class="product-detail">
                                                    <ul>
                                                        <li class="name">
                                                            <a href="category-details">SPRITE 250ML 1X24 NP</a>
                                                        </li>

                                                        <li class="text-content">
                                                            <span class="text-title">NRB
                                                            </span> (5449000056924)
                                                        </li>

                                                        <li class="text-content">
                                                            <span class="text-title">QTY </span> 4 CS
                                                        </li>

                                                        <li>
                                                            <h5 class="text-content ">Unit Price:</h5>
                                                            <span class="text-title"> AED 21.00</span>
                                                        </li>





                                                    </ul>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="subtotal">
                                            <h4 class="table-title text-content">AED 105.00</h4>

                                        </td>

                                        <td class="price">
                                            <h6 class="table-title text-content">Payment Method</h6>
                                            <p class="theme-color">Online Payment</p>
                                        </td>




                                    </tr>



                                </tbody>
                            </table>
                        </div>




                    </div>





                </div>



                <div class="col-xxl-3">
                    <div class="summery-box p-sticky">
                        <div class="summery-header">
                            <h3></h3>
                        </div>

                        <div class="summery-contain">

                            <ul>
                                <li>
                                    <h4>Order Amount: </h4>
                                    <h4 class="price"> AED 156.00</h4>
                                </li>

                                <li>
                                    <h4>Discount Amount:</h4>
                                    <h4 class="price"> AED O</h4>
                                </li>

                                <li class="align-items-start">
                                    <h4>Tax Amount: </h4>
                                    <h4 class="price text-end">AED 8.85</h4>
                                </li>

                                <li class="align-items-start">
                                    <h4>Net Order Amount:</h4>
                                    <h4 class="price text-end"> AED 163.8</h4>
                                </li>
                            </ul>
                        </div>

                        <ul class="summery-total">
                            <li class="list-total border-top-0">
                                <h5>Net Payable Amount: AED 163.8 <br> <small>Net Payable Amount </small></h5>
                                <h5 class="price theme-color"><strong>AED 163.8</strong></h5>
                            </li>
                        </ul>

                        <div class="button-group cart-button">
                            <ul>
                                <li>
                                    <button onclick="location.href = 'order-success';"
                                        class="btn btn-animation proceed-btn fw-bold">Process </button>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Checkout section End -->







    <%- include('../include/footer.ejs') %>