<%- include('../include/header') %>



    <!-- Breadcrumb Section Start -->
    <section class="breadcrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-contain">
                        <h2>Cart</h2>
                        <!-- <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="/">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active">Cart</li>
                            </ol>
                        </nav> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->




    <!-- Cart Section Start -->
    <section class="cart-section section-b-space">
        <div class="container-fluid-lg">
            <div class="row g-sm-5 g-3">
                <div class="col-xxl-12">
                    <div class="cart-table cart-items-container">
                        <div class="table-responsive-xl">
                            <table class="table">
                                <tbody>

                                    <% if (!cart) { %>
                                        <p>Your cart is empty.</p>
                                        <% } else { %>
                                            <% cart.product_details.forEach(product=> { %>
                                                <!-- Your existing code for displaying product details goes here -->
                                                <!-- For example: -->

                                                <tr class="product-box-contain">
                                                    <td class="product-detail">
                                                        <div class="product border-0">



                                                            <% if (product.image && product.image.length> 0) { %>
                                                                <a href="#" class="product-image">
                                                                    <img src="<%= product.image %>"
                                                                        class="img-fluid blur-up lazyload" alt=""
                                                                        onerror="handleImageError(this)">
                                                                </a>
                                                                <% } else { %>
                                                                    <!-- If data.image is not available or has length 0, render placeholder image -->
                                                                    <a href="#" class="product-image">
                                                                        <!-- Check if the image URL exists -->
                                                                        <% if (product.image) { %>
                                                                            <!-- If the image URL exists but the image couldn't be found (404 Not Found), render a placeholder image -->
                                                                            <img src="https://shopmefast.com/images/product-no-image.jpg"
                                                                                class="img-fluid blur-up lazyload"
                                                                                alt="">
                                                                            <% } else { %>
                                                                                <!-- If the image URL doesn't exist, render an alternative content or handle the absence of image as per your requirement -->
                                                                                <span>No image available</span>
                                                                                <% } %>
                                                                    </a>
                                                                    <% } %>



                                                                        <div class="product-detail">
                                                                            <ul>


                                                                                <li class="text-content">
                                                                                    <a href="#">
                                                                                        <%= product.product_name %>


                                                                                    </a>
                                                                                </li>

                                                                                <li>
                                                                                    <h5
                                                                                        class="text-content d-inline-block">
                                                                                        Item
                                                                                        Code:
                                                                                    </h5>

                                                                                    <small>
                                                                                        <%= product.item_code %>
                                                                                    </small>

                                                                                </li>

                                                                                <li>
                                                                                    <h5
                                                                                        class="text-content d-inline-block">
                                                                                        Bar
                                                                                        Code
                                                                                        :</h5>
                                                                                    <small>
                                                                                        <%= product.barcode %>
                                                                                    </small>
                                                                                </li>




                                                                                <li>
                                                                                    <h5>Total: <%= product.total_amount
                                                                                            %>
                                                                                    </h5>
                                                                                </li>


                                                                            </ul>
                                                                        </div>
                                                        </div>
                                                    </td>

                                                    <td class="price">
                                                        <h4 class="table-title text-content">Unit
                                                            Price: </h4>
                                                        <h6 class="theme-color">
                                                            <%= product.gross_price %>
                                                        </h6>
                                                    </td>

                                                    <td class="quantity">
                                                        <h4 class="table-title text-content">Qty (<%= product.uom_code
                                                                %>)
                                                        </h4>
                                                        <div class="quantity-price">
                                                            <div class="cart_qty">


                                                                <form action="#" method="post" class="cartForm"
                                                                    data-product-id="<%= product.product_id %>">

                                                                    <input type="hidden" name="product_id"
                                                                        value="<%= product.product_id %>">


                                                                    <div class="input-group bg-white">
                                                                        <button type="submit"
                                                                            class="qty-left-minus bg-gray"
                                                                            data-type="minus" data-field="">
                                                                            <i class="fa fa-minus"></i>
                                                                        </button>
                                                                        <input
                                                                            class="form-control input-number qty-input"
                                                                            type="text" name="quantity"
                                                                            value="<%= product.qty %>" readonly>




                                                                        <button type="submit"
                                                                            class="qty-right-plus bg-gray"
                                                                            data-type="plus" data-field="">
                                                                            <i class="fa fa-plus"></i>
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>



                                                    </td>

                                                    <td class="subtotal">
                                                        <h4 class="table-title text-content">Amount:
                                                        </h4>
                                                        <h5>
                                                            <%= product.total_amount %>


                                                        </h5>
                                                    </td>

                                                    <td class="subtotal">
                                                        <!-- <h4 class="table-title text-content">Action:
                                                        </h4> -->
                                                        <h5>
                                                            <!-- Assuming this is within your cart item display loop -->
                                                            <form action="/remove-from-cart" method="post">
                                                                <!-- Hidden input fields for additional data -->
                                                                <input type="hidden" name="product_id"
                                                                    value="<%= product.product_id %>">

                                                                <input type="hidden" name="cart_id"
                                                                    value="<%= product.cart_id %>">

                                                                <!-- Submit button to remove the item from cart -->
                                                                <button type="submit"
                                                                    class="text-danger remove-item-link"
                                                                    style="color: red !important; border: none;">
                                                                    <img src="<%= baseUrl %>/assets/img/dl.png" alt=""
                                                                        class="  " style="height: 30px; ">
                                                                </button>

                                                            </form>


                                                        </h5>
                                                    </td>


                                                </tr>
                                                <% }); %>
                                                    <% } %>



                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>




            </div>



            <% if (!cart) { %>

                <% } else { %>
                    <div class="row g-sm-5 g-3 ">
                        <div class="col-md-6">


                        </div>
                        <div class="col-md-6">
                            <div class="summery-box p-sticky">
                                <div class="summery-header">
                                    <h3>Cart Total</h3>
                                </div>
                                <div class="summery-contain">
                                    <ul>
                                        <li>
                                            <h4>Order Amount</h4>
                                            <h4 class="price price-order-amount">AED <%= cart.total %>
                                            </h4>
                                        </li>
                                        <li>
                                            <h4>Discount Amount</h4>
                                            <h4 class="price price-discount-amount">AED <%= cart.total_discount_amount
                                                    %>
                                            </h4>
                                        </li>
                                        <li class="align-items-start">
                                            <h4>VAT Amount</h4>
                                            <h4 class="price text-end price-vat-amount">AED <%= cart.total_tax_value %>
                                            </h4>
                                        </li>
                                    </ul>
                                </div>

                                <ul class="summery-total">
                                    <li class="list-total border-top-0">
                                        <h5>Total Order Value Amount <br> <small style="color: red;">(5% VAT
                                                inclusive)*</small></h5>
                                        <h4 class="price  text-end price-total-order">AED <%= cart.grand_total %>
                                        </h4>
                                    </li>
                                </ul>


                                <div class="button-group cart-button">
                                    <ul>
                                        <li>
                                            <a href="/checkout" class="href">
                                                <button class="btn btn-animation proceed-btn fw-bold">Proceed</button>
                                            </a>

                                        </li>

                                        <li>
                                            <a href="./" class="href">
                                                <button class="btn btn-light shopping-button text-dark">
                                                    <i class="fa-solid fa-arrow-left-long"></i>Return To
                                                    Shopping</button>
                                            </a>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <% } %>



        </div>
    </section>
    <!-- Cart Section End -->



    <!-- Tap to top and theme setting button start -->
    <%- include('../include/footer.ejs') %>




        <script>
            // Event listener for form submission
            $(document).on('submit', '.cartForm', function (event) {
                event.preventDefault(); // Prevent default form submission

                // Retrieve form data
                var formData = $(this).serialize();
                var productId = $(this).data('product-id');

                //(formData);


                $('#loader-overlay').fadeIn();
                // Send AJAX request to add item to cart
                $.ajax({
                    url: '/updateCart/' + productId,
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        $('#loader-overlay').fadeOut();

                        $('#hidecart').hide();

                        const AllCartItems = response.AllCart.product_details
                        const AllCartItemsAmount = response.AllCart

                        //(AllCartItemsAmount.cart_source);
                        //(AllCartItemsAmount.customer_id);
                        //(AllCartItemsAmount.grand_total);//
                        //(AllCartItemsAmount.id);
                        //(AllCartItemsAmount.tax_value);
                        //(AllCartItemsAmount.total);
                        //(AllCartItemsAmount.total_discount_amount);
                        //(AllCartItemsAmount.total_tax_value);

                        // Update Order Amount
                        $('.price-order-amount').text(`AED ${AllCartItemsAmount.total}`);

                        // Update Discount Amount
                        $('.price-discount-amount').text(`AED ${AllCartItemsAmount.total_discount_amount}`);

                        // Update VAT Amount
                        $('.price-vat-amount').text(`AED ${AllCartItemsAmount.total_tax_value}`);

                        // Update Total Order Value Amount
                        $('.price-total-order').text(`AED ${AllCartItemsAmount.grand_total}`);





                        const cart = response.AllCart.product_details


                        //(cart);
                        if (!AllCartItems || AllCartItems.length === 0) {
                            // Cart is empty, display a message
                            $('.cart-items-container').html('<p>Your cart is empty.</p>');
                        } else {
                            // Cart is not empty, append each cart item to the table
                            const tableBody = $('.cart-items-container').find('tbody');
                            tableBody.empty(); // Clear existing rows
                            AllCartItems.forEach(item => {
                                // Generate HTML markup for each cart item row
                                const cartItemHtml = `
                    

                                                <tr class="product-box-contain">
                                                    <td class="product-detail">
                                                        <div class="product border-0">
                                                            <!-- <a href="category-details" class="product-image">
                                                                <img src=" ${item.image}"
                                                                    class="img-fluid blur-up lazyload" alt="">
                                                            </a> -->
                                                            <div class="product-detail">
                                                                <ul>
                                                                    <li class="name">
                                                                        <a href="category-details">
                                                                            ${item.product_name} 


                                                                        </a>
                                                                    </li>

                                                                    <li class="text-content">
                                                                        <span class="text-title">Item
                                                                            Code:
                                                                        </span>
                                                                        ${item.item_code} 
                                                                    </li>

                                                                    <!-- <li class="text-content">
                                                                        <span class="text-title">Quantity</span>
                                                                        ${item.qty} 
                                                                    </li> -->

                                                                    <li>
                                                                        <h5 class="text-content d-inline-block">
                                                                            Bar
                                                                            Code
                                                                            :</h5>
                                                                        <span>
                                                                            ${item.barcode}  
                                                                        </span>
                                                                    </li>




                                                                    <li>
                                                                        <h5>Total: ${item.total_amount} 
                                                                        </h5>
                                                                    </li>


                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td class="price">
                                                        <h4 class="table-title text-content">Unit
                                                            Price: </h4>
                                                        <h6 class="theme-color">
                                                            ${item.gross_price} 
                                                        </h6>
                                                    </td>

                                                    <td class="quantity">
                                                        <h4 class="table-title text-content">Qty  ( ${item.uom_code})
                                                        </h4>
                                                        <div class="quantity-price">
                                                            <div class="cart_qty">


                                                                <form method="post" class="cartForm"
                                                                    data-product-id="${item.product_id}">

                                                                    <input type="hidden" name="product_id"
                                                                        value="${item.product_id}">


                                                                    <div class="input-group bg-white">
                                                                        <button type="submit"
                                                                            class="qty-left-minus bg-gray"
                                                                            data-type="minus" data-field="">
                                                                            <i class="fa fa-minus"></i>
                                                                        </button>
                                                                        <input
                                                                            class="form-control input-number qty-input"
                                                                            type="text" name="quantity"
                                                                            value="${item.qty}">


                                                                        <button type="submit"
                                                                            class="qty-right-plus bg-gray"
                                                                            data-type="plus" data-field="">
                                                                            <i class="fa fa-plus"></i>
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>



                                                    </td>

                                                    <td class="subtotal">
                                                        <h4 class="table-title text-content">Amount:
                                                        </h4>
                                                        <h5>
                                                            ${item.total_amount}  


                                                        </h5>
                                                    </td>

                                                    <td class="subtotal">
                                               
                                                        <h5>
                                                            <!-- Assuming this is within your cart item display loop -->
                                                            <form action="/remove-from-cart" method="post">
                                                                <input type="hidden" name="product_id"
                                                                    value="${item.product_id}">

                                                                <input type="hidden" name="cart_id"
                                                                    value="${item.cart_id}">

                                                                <!-- Submit button to remove the item from cart -->
                                                                <button type="submit"
                                                                    class="text-danger remove-item-link"
                                                                    style="color: red !important; border: none;">
                                                                    <img src=" <%= baseUrl %>/assets/img/dl.png" alt=""
                                                                        class="  " style="height: 30px; ">
                                                                </button>

                                                            </form>


                                                        </h5>
                                                    </td>


                                                </tr>
                                       



        `;
                                // Append the cart item row HTML to the table body
                                tableBody.append(cartItemHtml);
                            });
                        }






                        $.notify({
                            icon: "fa fa-check",
                            //title: "Success!",
                            message: response.message,
                        }, {
                            element: "body",
                            position: null,
                            type: "success",
                            allow_dismiss: true,
                            newest_on_top: false,
                            showProgressbar: true,
                            placement: {
                                from: "top",
                                align: "right",
                            },
                            offset: 20,
                            spacing: 10,
                            z_index: 1031,
                            delay: 1000,
                            animate: {
                                enter: "animated fadeInDown",
                                exit: "animated fadeOutUp",
                            },
                            icon_type: "class",
                            template: '<div data-notify="container" class="col-xxl-3 col-lg-5 col-md-6 col-sm-7 col-12 alert alert-{0}" role="alert">' +
                                '<button type="button" aria-hidden="true" class="btn-close" data-notify="dismiss"></button>' +
                                '<span data-notify="icon"></span> ' +
                                '<span data-notify="title">{1}</span> ' +
                                '<span data-notify="message">{2}</span>' +
                                '<div class="progress" data-notify="progressbar">' +
                                '<div class="progress-bar progress-bar-info progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                                "</div>" +
                                '<a href="{3}" target="{4}" data-notify="url"></a>' +
                                "</div>",
                        });
                        // Optionally, you can perform additional actions after successfully adding the item to cart
                    },
                    error: function (xhr, status, error) {
                        $('#loader-overlay').fadeOut();


                        $.notify({

                            //title: "Success!",
                            message: 'Failed to add item to cart:', error,
                        }, {
                            element: "body",
                            position: null,
                            type: "danger",
                            allow_dismiss: true,
                            newest_on_top: false,
                            showProgressbar: true,
                            placement: {
                                from: "top",
                                align: "right",
                            },
                            offset: 20,
                            spacing: 10,
                            z_index: 1031,
                            delay: 1000,
                            animate: {
                                enter: "animated fadeInDown",
                                exit: "animated fadeOutUp",
                            },
                            icon_type: "class",
                            template: '<div data-notify="container" class="col-xxl-3 col-lg-5 col-md-6 col-sm-7 col-12 alert alert-{0}" role="alert">' +
                                '<button type="button" aria-hidden="true" class="btn-close" data-notify="dismiss"></button>' +
                                '<span data-notify="icon"></span> ' +
                                '<span data-notify="title">{1}</span> ' +
                                '<span data-notify="message">{2}</span>' +
                                '<div class="progress" data-notify="progressbar">' +
                                '<div class="progress-bar progress-bar-info progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                                "</div>" +
                                '<a href="{3}" target="{4}" data-notify="url"></a>' +
                                "</div>",
                        });
                        // Optionally, you can perform additional actions after successfully adding the item to cart

                        // Optionally, you can handle the error and perform additional actions
                    }
                });
            });


        </script>



        <% if (typeof successMessages !=='undefined' ) { %>
            <% successMessages .forEach(function(message) { %>


                <script>
                    $.notify({
                        icon: "fa fa-check",
                        //title: "Success!",
                        message: "  <%= message %> ",
                    }, {
                        element: "body",
                        position: null,
                        type: "info",
                        allow_dismiss: true,
                        newest_on_top: false,
                        showProgressbar: true,
                        placement: {
                            from: "top",
                            align: "right",
                        },
                        offset: 20,
                        spacing: 10,
                        z_index: 1031,
                        delay: 1000,
                        animate: {
                            enter: "animated fadeInDown",
                            exit: "animated fadeOutUp",
                        },
                        icon_type: "class",
                        template: '<div data-notify="container" class="col-xxl-3 col-lg-5 col-md-6 col-sm-7 col-12 alert alert-{0}" role="alert">' +
                            '<button type="button" aria-hidden="true" class="btn-close" data-notify="dismiss"></button>' +
                            '<span data-notify="icon"></span> ' +
                            '<span data-notify="title">{1}</span> ' +
                            '<span data-notify="message">{2}</span>' +
                            '<div class="progress" data-notify="progressbar">' +
                            '<div class="progress-bar progress-bar-info progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                            "</div>" +
                            '<a href="{3}" target="{4}" data-notify="url"></a>' +
                            "</div>",
                    });
                </script>
                <% }); %>
                    <% } %>

                        <% if (typeof errorMessages !=='undefined' ) { %>
                            <% errorMessages .forEach(function(message) { %>


                                <script>
                                    $.notify({
                                        icon: "fa fa-times",
                                        // title: "Error!",
                                        message: "  <%= message %> ",
                                    }, {
                                        element: "body",
                                        position: null,
                                        type: "danger",
                                        allow_dismiss: true,
                                        newest_on_top: false,
                                        showProgressbar: true,
                                        placement: {
                                            from: "top",
                                            align: "right",
                                        },
                                        offset: 20,
                                        spacing: 10,
                                        z_index: 1031,
                                        delay: 1000,
                                        animate: {
                                            enter: "animated fadeInDown",
                                            exit: "animated fadeOutUp",
                                        },
                                        icon_type: "class",
                                        template: '<div data-notify="container" class="col-xxl-3 col-lg-5 col-md-6 col-sm-7 col-12 alert alert-{0}" role="alert">' +
                                            '<button type="button" aria-hidden="true" class="btn-close" data-notify="dismiss"></button>' +
                                            '<span data-notify="icon"></span> ' +
                                            '<span data-notify="title">{1}</span> ' +
                                            '<span data-notify="message">{2}</span>' +
                                            '<div class="progress" data-notify="progressbar">' +
                                            '<div class="progress-bar progress-bar-info progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                                            "</div>" +
                                            '<a href="{3}" target="{4}" data-notify="url"></a>' +
                                            "</div>",
                                    });




                                </script>
                                <% }); %>
                                    <% } %>





                                        <script>
                                            // Event listener for clicking on the plus button
                                            $(document).on('click', '.qty-right-plus', function () {
                                                var $quantityInput = $(this).siblings('.qty-input');
                                                var currentVal = parseInt($quantityInput.val());

                                                if (currentVal < 9) {
                                                    $quantityInput.val(currentVal + 1);
                                                    var quantity = $quantityInput.val();
                                                    //("Updated quantity:", quantity);
                                                }
                                            });

                                            // Event listener for clicking on the minus button
                                            $(document).on('click', '.qty-left-minus', function () {
                                                var $quantityInput = $(this).siblings('.qty-input');
                                                var currentVal = parseInt($quantityInput.val());

                                                if (currentVal > 1) {
                                                    $quantityInput.val(currentVal - 1);
                                                    var quantity = $quantityInput.val();
                                                    //("Updated quantity:", quantity);
                                                } else {
                                                    alert("You cannot delete cart if value is 1");
                                                }
                                            });




                                        </script>